[submodule "start/editorconfig-vim"]
	path = start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "start/vim-prettier"]
	path = start/vim-prettier
	url = https://github.com/prettier/vim-prettier
[submodule "start/vim-airline"]
	path = start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "start/vim-lsp"]
	path = start/vim-lsp
	url = https://github.com/prabirshrestha/vim-lsp.git
[submodule "start/vim-lsp-settings"]
	path = start/vim-lsp-settings
	url = https://github.com/mattn/vim-lsp-settings.git
[submodule "start/asyncomplete"]
	path = start/asyncomplete.vim
	url = https://github.com/prabirshrestha/asyncomplete.vim.git
[submodule "start/asyncomplete-lsp.vim"]
	path = start/asyncomplete-lsp.vim
	url = https://github.com/prabirshrestha/asyncomplete-lsp.vim.git
[submodule "start/vim-elixir"]
	path = start/vim-elixir
	url = https://github.com/elixir-editors/vim-elixir.git
